<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>傲空间</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>eulixspace</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eulixspace</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx35d243ea41574aca</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>UM.61822695e014255fcb682051</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>um.</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent102004997</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>aospace</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aospace</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>Privacy - Face ID Usage Description</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>场景一：手机绑定傲空间硬件设备，需要使用蓝牙与手机配对，通过蓝牙，将配网、密码等信息发送给设备；场景二：通过手机给断网的傲空间硬件设备进行网络配置，需要使用蓝牙与手机配对，通过蓝牙，将配网的信息发送给设备</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>场景一：手机绑定傲空间硬件设备，需要使用蓝牙与手机配对，通过蓝牙，将配网、密码等信息发送给设备；场景二：通过手机给断网的傲空间硬件设备进行网络配置，需要使用蓝牙与手机配对，通过蓝牙，将配网的信息发送给设备</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_eulixspace-sd._tcp.</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>场景一：手机绑定傲空间硬件设备，需要使用相机，扫码设备上的二维码，获取硬件设备的标识；场景二：通过手机给断网的傲空间硬件设备进行网络配置，需要使用相机，扫码设备上的二维码，获取硬件设备的标识；场景三：用户通过扫一扫调用相机，扫描Web端的二维码，完成Web端的授权登录；场景四：用户更换头像，调用相机进行拍照后上传；</string>
	<key>NSContactsUsageDescription</key>
	<string>用于导入联系人功能</string>
	<key>NSFaceIDUsageDescription</key>
	<string>登录验证</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>局域网访问权限，场景一：用户手机与傲空间设备处于同一个wifi网络时，手机将通过局域网直连方式访问傲空间；</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>场景一：手机绑定傲空间硬件设备，需要使用相机，扫码设备上的二维码，获取硬件设备的标识；场景二：通过手机给断网的傲空间硬件设备进行网络配置，需要使用相机，扫码设备上的二维码，获取硬件设备的标识；场景三：用户通过扫一扫调用相机，扫描Web端的二维码，完成Web端的授权登录；场景四：用户更换头像，调用相机进行拍照后上传</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<false/>
	<key>Privacy-Face ID Usage Description</key>
	<string>登录验证</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
