<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>https://cocoapods.org/pods/UMCommon</string>
			<key>Key</key>
			<string>UMCommon-source</string>
			<key>Title</key>
			<string>Source</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Copyright 2011 - 2021 umeng.com. All rights reserved.
</string>
			<key>License</key>
			<string>unknown</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
